VITE_API_PREFIX=/api
VITE_API_ORIGIN=http://127.0.0.1:8001

VITE_CITYROUTE_GRAPH_FILE=kanpur.graphml
VITE_CITYROUTE_GRAPH_LABEL=Kanpur
VITE_CITYROUTE_BOUNDS_SOUTH=26.43
VITE_CITYROUTE_BOUNDS_NORTH=26.50
VITE_CITYROUTE_BOUNDS_WEST=80.28
VITE_CITYROUTE_BOUNDS_EAST=80.38
